/* Write your CSS here */
.todo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.title {
  color: #000000;
  font-size: 15px;
}

@media (min-width: 768px) {
  .title {
    font-size: 20px;
  }
}

.button {
  background-color: #ffffff;
  border: solid 2px #ff0b37;
  color: #ff0b37;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
}

@media (min-width: 768px) {
  .button {
    font-size: 20px;
  }
}
